footer {
    background-color: #171a25;
    color: #e0e0e0;
    padding: 7rem;

    ul {
        text-align: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: #e0e0e0;
            font-weight: bold;
        }
    }
}