header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #171a25;

    span {
        color: #f1f1f1;
        font-size: 1.5rem;
    }
}